
# FBA - Python Exercise III

* This Exercise follow the same format as our final lab exam.
* Please enter your answers into the spaces provided.
* The expected outcome is presented below each space section as prompt (You won't have it in the exam!)
* In the lab exam, we recommend that you show comments in your code, to evidence your working if possible (comments may earn some credit even if your script code is not 100% correct).
* The exam will NOT mark on the elegance or efficiency of your coding, but rather getting the correct result in the instructed manner.
* This Exercise will cover all basic python practice we have done.

## Section 1 - Variables, Types & Operation

### Q1.1: Variable assignment

Create a variable `date_today` and assign a value to that variable that will represent today's date.

In [1]:
# Write your code here

### Q1.2: Data Types & Operation 

In this question you have the following tasks:

* Assign to a variable `myint` the integer value of 6
* Assign to a variable `myfloat` the float value of 7.0
* Assign to a variable `mystring` the string value of '8.1'
* Assign to a variable `hello` to the string value of 'hello'
* Assign to a vairable `world` to the string value of 'world'
<br>

* Assign to a variable `sum_result` as the sum of `myint`, `myfloat` and `myfloat`
* Assign to a variable `helloworld` which combines the variables of `hello` and `world` and will be printed as `hello world`

* Print `sum_result` and `helloworld` to the console

In [89]:
# Write your code here

21.1
hello world

## Section 2 - Loops & Conditionals

In the section, our goal is to construt the following pattern:


1<br>
22<br>
333<br>
4444<br>
55555<br>
666666<br>
7777777<br>
88888888<br>
999999999<br>

You will be asked to do this in several ways, using different python functions. Please complete these below:

### Q2.1: Use a for loop and the range() function

Use a for loop and range() function to construct the pattern above

In [3]:
# Write your code here

1
22
333
4444
55555
666666
7777777
88888888
999999999

### Q2.2: Using a while loop - Option 1

Construct the pattern again using a while loop.

In [2]:
 # Write your code here

1
22
333
4444
55555
666666
7777777
88888888
999999999

### Q2.3: Using a while loop - Option 2 

This time we want to use a `counter` and `while True` loop. You must exit the loop using  the `continue` or `break` statement (n.b. only one of these two commands will do what you want), and any other commands that you think useful.

In [4]:
 # Write your code here

1
22
333
4444
55555
666666
7777777
88888888
999999999

# Section 3 - If statements

### Q3.1: Using if, elif and else
Define a function called `grade_converter` which takes a parameter `grade`. You need to use appropriate `if`, `elif` and `else` statements that will compare the input `grade` with a number and then return a letter grade:

* 90 or higher should get an "A"
* 80 - 89 should get a "B"
* 70 - 79 should get a "C"
* 65 - 69 should get a "D"
* Anything below a 65 should receive an "F"

Given a variable `mygrade` which takes an input as the grade of you, test your `grade_converter` function with the input.

In [7]:
# Write your code here

Type your grade here: 100
A

### Q3.2: Nested conditionals 
Given an input variable `age` that takes the value of your age, please use <i>nested</i> if statements to cover the following cases:

- If the age is smaller than 18:
    - Print: 'You are Minor' and 'You are not Eligible to Work'
- If the number larger and equal to 18:
    - And if the age is smaller than and equal to 60, print: 'You are Eligible to Work' and 'Please fill in your details and apply'
    - And if the number larger than 60, print: 'You are too old to work as per the Government rules' and 'Please Collect your pension!'

In [6]:
# Write your code here

 Please Enter Your Age Here:  18
 You are Eligible to Work
 Please fill in your details and apply

### Q3.3: Error Checking by more Nesting
Add another if statement around your code in the previous question that checks that the supplied value in `age` is larger than 0. If it is, the code runs as before. If it isn't, print out the message "Invalid age input". (feel free to cut and paste your code from the previous question)

In [11]:
# Write your code here

 Please Enter Your Age Here:  -1
 Invalid age input

# Section 4 - Data Structures

### Q4.1: List creation 

Create a list of animals that contains the following aminals: __'tiger', 'elephant', 'lion' and 'monkey'__ and assign it to a variable `zoo_list`.

In [13]:
# Write your code here

['tiger', 'elephant', 'lion', 'monkey']

### Q4.2: List indexing and modification 

Update the `zoo_list` by replacing the `tiger` by `panda`. Add another two animals `penguin` and `hippo`.

In [14]:
# Write your code here

['panda', 'elephant', 'lion', 'monkey', 'penguin', 'hippo']

### Q4.3: List slicing

Create a list `middle` that contains only the two middle animals from `zoo_list`.

Create a list `last` that is made up only of the last two items from `zoo_list`.

In [73]:
# The middle two animals

# The last two items (index four and five)

# Print the two lists

['lion', 'monkey']
['penguin', 'hippo']

### Q4.3: Insert new items in a list

Find the index of __"lion"__ and assign that result to a variable called `lion_index`.

Insert __"cobra"__ at that index (not replacing).

In [15]:
# Find the index of lion

# Insert the new animal

# Print the new zoo_list

['panda', 'elephant', 'cobra', 'lion', 'monkey', 'penguin', 'hippo']

### Q4.5: Dictionary creation

Create a dictionary `Prices` which contains the following pairs of grocery items and their prices:

|key|value|
|-|-|
|Cheese|8.4|
|Egg|2.9|
|Bread|1.8|
|Milk|2.4|
|Sausage|5.8|

Create another dictionary `Inventory` which contains the pairs of grocery items and their inventory levels.

|key|value|
|-|-|
|Cheese|16|
|Egg|87|
|Bread|30|
|Milk|18|
|Sausage|27|

For each key, print out the key along with its price and inventory information.

Print the answer in EXACTLY the following format:

<font color=grey>Cheese <br>
price: 8.4 <br>
inventory: 16 </font>

In [16]:
# Create a dictionary for prices


# Create a dictionary for inventory


# Print price and inventory for each item

Cheese
price: 8.4
stock: 16

Egg
price: 2.9
stock: 87

Bread
price: 1.8
stock: 30

Milk
price: 2.4
stock: 18

Sausage
price: 5.8
stock: 27

### Q4.6: Dictionary calculation 

Calculate how much money you would earn if you sell all the grocery items in stock.

For each key in `prices`, multiply the value in `prices` by the number in `inventory`. Sum the total value of all the inventory and print the `total`.

In [84]:
# Write your code here

640.5

### Q4.7: Calculation and updating a dictionary  

* Create a list called `shopping_list` that takes the values __"banana","orange", and "apple"__.

* Defined a function `bill` that takes a parameter `food`, which does the following tasks:

    - Calculate the costs of food as `total`. While looping through each item of food, the function should only add the price of the item to total if the item's inventory count is greater than zero. (You need to refer the price in the `prices` dictionary and the inventory level in the `inventory` dictionary).

    - If the item is in stock and after you add the price to the total, subtract one from the item's inventory count.

* Call the `bill` function to calculate the total costs of `shopping_list`.

* Print the updated `inventory`.

In [34]:
# Write your code here

# Create the shopping list

# Define the bill function here

# Print the total costs of the items in the shopping list and the update inventory dictionary

13.700000000000001
{'Cheese': 12, 'Egg': 74, 'Bread': 30, 'Milk': 14, 'Sausage': 27}

# Section 5 - Functions

### Q5.1: A basic function

Define a function `hello_world` that prints "Hello world!" to the console. You need to call the functon to test it.

In [32]:
# Write your code here

#Test your function here

Hello World!

### Q5.2: Function Parameters and calculation
Define a function `power` that takes two arguments: `base` and `exp`. This function should raise the `base` to the power of `exp`, and print the the sentence: `base` to the power of `exp` is `result`.

Call your function with a `base` of `18` and an `exp` of `5`. Your code should print: `18 to the power of 5 is 1889568.`

In [51]:
# Write your code here

# Test your function here

18 to the power of 5 is 1889568.

### Q5.3: A function to sum values in a list
Define a function `sum_list` that sums all the values in a list.

Create a list `ls_test = [12, 14, 17, 19]` and test your function with this list.

In [56]:
# Write your code here

# Test your function here

62

# Section 6 - Module Import & Data Management

### Q6.1: Importing a module

Import the module `Numpy` with the usual shortcut name `np`

In [35]:
# Import Numpy

### Q6.2: Ndarray Creation

Create a two-dimensional 4x3 matrix `mat` ranging from 1 to 12 using `NumPy array`.

In [40]:
# Write your code here

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

### Q6.3: Mean

What is the mean of each row of the matrix `mat`? Please use a function in Numpy to do this (if needed, refer to the Numpy documentation to find the function to use and check its parameters).

In [41]:
# Write your code here

2.0
5.0
8.0
11.0

### Q6.4: Array indices

Print out the indices of the maximum and minimum values in `mat`.

In [46]:
# Write your code here

Maximum Values:  11
Minimum Values:  0

### Q6.5 Date format 

Create a new matrix `mat_f` which changes the datatype of `mat` to `float`.

In [47]:
# Write your code here

[[ 1.  2.  3.]
 [ 4.  5.  6.]
 [ 7.  8.  9.]
 [10. 11. 12.]]

# Section 7 - Reading a file manually

### Q7.1: Reading the first 10 lines

In the same folder as this Jupyter Notebook, you are given a file `Public_bike system_tripdata_201811.csv`.

* Using the standard Python functions (open(), read(), readline(), write(), ...), print the content of the first 10 lines of the file to the screen.

In [99]:
# Write your code here

['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender']
['254', '2018-11-01 00:00:12.9100', '2018-11-01 00:04:27.3870', '3522', '37 St & 24 Ave', '40.7701477', '-73.9120938', '3513', '21 St & Hoyt Ave S', '40.774645', '-73.923706', '34117', 'Subscriber', '1992', '1']
['833', '2018-11-01 00:00:16.3440', '2018-11-01 00:14:09.4320', '252', 'MacDougal St & Washington Sq', '40.73226398', '-73.99852205', '251', 'Mott St & Prince St', '40.72317958', '-73.99480012', '32569', 'Subscriber', '1986', '2']
['683', '2018-11-01 00:00:17.6630', '2018-11-01 00:11:40.9170', '3405', '5 St & 6 Ave', '40.6704836', '-73.98208968', '3584', 'Eastern Pkwy & Franklin Ave', '40.6707767', '-73.9576801', '15795', 'Subscriber', '1985', '1']
['1840', '2018-11-01 00:00:18.7970', '2018-11-01 00:30:59.3050', '3150', 'E 85 St & York Ave', '40.77536905', '-73.94803392', '297', 'E 15 St & 3 Ave', '40.734232', '-73.986923', '33290', 'Subscriber', '1994', '1']
['1212', '2018-11-01 00:00:47.3230', '2018-11-01 00:20:59.8840', '325', 'E 19 St & 3 Ave', '40.73624527', '-73.98473765', '212', 'W 16 St & The High Line', '40.74334935', '-74.00681753', '17411', 'Subscriber', '1989', '1']
['792', '2018-11-01 00:01:07.6490', '2018-11-01 00:14:20.1120', '303', 'Mercer St & Spring St', '40.72362738', '-73.99949601', '3260', 'Mercer St & Bleecker St', '40.72706363348306', '-73.99662137031554', '15344', 'Customer', '1995', '2']
['243', '2018-11-01 00:01:12.1010', '2018-11-01 00:05:15.3940', '3571', 'Bedford Ave & Bergen St', '40.676368', '-73.952918', '3562', 'Classon Ave & St Marks Ave', '40.6765198', '-73.9596082', '34053', 'Subscriber', '1980', '2']
['460', '2018-11-01 00:01:12.4060', '2018-11-01 00:08:53.2740', '3458', 'W 55 St & 6 Ave', '40.76309387270797', '-73.9783501625061', '477', 'W 41 St & 8 Ave', '40.75640548', '-73.9900262', '14992', 'Subscriber', '1970', '1']
['778', '2018-11-01 00:01:14.6240', '2018-11-01 00:14:13.3190', '3579', 'Sterling Pl & Bedford Ave', '40.672695', '-73.954131', '3571', 'Bedford Ave & Bergen St', '40.676368', '-73.952918', '35229', 'Subscriber', '1980', '2']
['178', '2018-11-01 00:01:32.0970', '2018-11-01 00:04:30.1980', '3467', 'W Broadway & Spring Street', '40.72494672359416', '-74.00165855884552', '151', 'Cleveland Pl & Spring St', '40.722103786686034', '-73.99724900722504', '31476', 'Subscriber', '1978', '1']

# Section 8 - Pandas


In this section, you are required to use Pandas to load the `Public_bike system_tripdata_201811.csv` file and explore it.

The `Public_bike system_tripdata_201811.csv` contains the data of a city's public bike sharing system for November 2018. The following items are inculded in the dataset:

* Trip Duration (seconds)
* Start Time and Date
* Stop Time and Date
* Start Station Name
* End Station Name
* Station ID
* Station Lat/Long
* Bike ID
* User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)
* Gender (Zero=unknown; 1=male; 2=female)
* Year of Birth


### Q8.1: Loading data
<br>

Import the `Pandas` module as `pd`. <br>
<br>
Using one of Pandas functions, load `Public_bike system_tripdata_201811.csv` into a dataframe and assign it to a variable `df`.

In [1]:
# Write your code here
import pandas as pd
df = pd.read_csv('Public_bike system_tripdata_201811.csv')

### Q8.2: Displaying the first 10 lines
Display the first 10 lines of your dataframe

In [3]:
# Write your code here

   tripduration                 starttime                  stoptime  \
0          1498  2018-11-09 08:50:39.1350  2018-11-09 09:15:37.7090
1          1004  2018-11-03 14:47:50.2070  2018-11-03 15:04:34.8700
2           242  2018-11-02 00:39:07.3540  2018-11-02 00:43:10.0260
3           673  2018-11-09 08:06:35.6140  2018-11-09 08:17:49.5970
4           381  2018-11-05 15:12:51.8650  2018-11-05 15:19:13.7560
5           818  2018-11-18 11:36:32.2060  2018-11-18 11:50:11.1740
6           484  2018-11-04 08:40:57.9820  2018-11-04 08:49:02.5170
7           873  2018-11-12 13:46:30.9890  2018-11-12 14:01:04.5500
8           751  2018-11-14 13:29:28.5370  2018-11-14 13:42:00.4930
9           806  2018-11-20 17:56:30.6730  2018-11-20 18:09:57.1060

   startstationid          startstationname  startstationlatitude  \
0           388.0          W 26 St & 10 Ave             40.749718
1           525.0          W 34 St & 11 Ave             40.755943
2          3169.0    Riverside Dr & W 82 St             40.787209
3           445.0        E 10 St & Avenue A             40.727409
4           466.0           W 25 St & 6 Ave             40.743954
5           438.0       St Marks Pl & 1 Ave             40.727791
6           236.0       St Marks Pl & 2 Ave             40.728420
7           247.0    Perry St & Bleecker St             40.735355
8           394.0         E 9 St & Avenue C             40.725212
9           128.0  MacDougal St & Prince St             40.727104

   startstationlongitude  endstationid            endstationname  \
0             -74.002953         327.0  Vesey Pl & River Terrace
1             -74.002113         530.0          11 Ave & W 59 St
2             -73.981277        3167.0   Amsterdam Ave & W 73 St
3             -73.981422         540.0   Lexington Ave & E 29 St
4             -73.991447        3255.0           8 Ave & W 31 St
5             -73.985649         128.0  MacDougal St & Prince St
6             -73.987137         285.0        Broadway & E 14 St
7             -74.004829         465.0        Broadway & W 41 St
8             -73.977684         285.0        Broadway & E 14 St
9             -74.002968         476.0           E 31 St & 3 Ave

   endstationlatitude  endstationlongitude  bikeid    usertype  birthyear  \
0           40.715340           -74.016586   31991  Subscriber       1992
1           40.771523           -73.990540   34396    Customer       1969
2           40.779667           -73.980934   15203  Subscriber       1966
3           40.743114           -73.982155   32173  Subscriber       1989
4           40.750584           -73.994682   34794  Subscriber       1985
5           40.727104           -74.002968   31791  Subscriber       1983
6           40.734547           -73.990738   29854    Customer       1969
7           40.755135           -73.986580   32471  Subscriber       1968
8           40.734547           -73.990738   33678  Subscriber       1945
9           40.743942           -73.979660   24978  Subscriber       1993

   gender        random  insample
0       1  7.227907e-08         1
1       0  1.183647e-06         1
2       1  2.024221e-06         1
3       2  2.418815e-06         1
4       1  3.485916e-06         1
5       2  3.494898e-06         1
6       0  3.777018e-06         1
7       1  4.340657e-06         1
8       1  4.926085e-06         1
9       1  5.127682e-06         1

### Q8.3: Dataframe Shape

Display the shape of your dataframe

In [2]:
# Write your code here

(40378, 17)

### Q8.4: Column Names 
Print out the column names of the data frame

In [52]:
# Write your code here

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

### Q8.5: Transform date fromat

Transform `starttime` and `stoptime` from string into datetime format. <br>
You need to use the `to_datetime` function provided in pandas to complete this task.

In [5]:
# Write your code here

### Q8.6: Extracting time elements and create new column

Create new columns in `df`: `Month`, `Week`,`Day`, `Hour`. You can extract them from either `starttime` or `stoptime`.

In [57]:
# Write your code here

### Q8.7: Extract multiple columns
Print on the screen the newly created columns: `Month`, `Week`,`Day`, `Hour`.

In [6]:
# Write your code here

       Month  Week  Day  Hour
0         11    45    9     8
1         11    44    3    14
2         11    44    2     0
3         11    45    9     8
4         11    45    5    15
5         11    46   18    11
6         11    44    4     8
7         11    46   12    13
8         11    46   14    13
9         11    47   20    17
10        11    48   26    13
11        11    44    4     9
12        11    46   17    12
13        11    46   13    22
14        11    44    2    17
15        11    48   28    21
16        11    44    4    20
17        11    44    3    16
18        11    46   17     9
19        11    45    7    18
20        11    44    4    16
21        11    44    4    20
22        11    46   16    13
23        11    45    8    16
24        11    45   10    17
25        11    46   12    12
26        11    46   15    15
27        11    44    4    22
28        11    46   14    13
29        11    46   18     2
...      ...   ...  ...   ...
40348     11    46   18    13
40349     11    46   17    17
40350     11    47   19    10
40351     11    48   26     9
40352     11    47   19     7
40353     11    45   11    10
40354     11    44    4    12
40355     11    45    8     9
40356     11    47   25    14
40357     11    45   11    12
40358     11    45   10    12
40359     11    45    8    18
40360     11    45    9     6
40361     11    44    4    12
40362     11    48   30     9
40363     11    48   27    17
40364     11    45    8     4
40365     11    44    3    17
40366     11    45    8    20
40367     11    47   21    11
40368     11    48   29    13
40369     11    46   12    16
40370     11    45    6    17
40371     11    46   18    22
40372     11    44    4    21
40373     11    48   27     7
40374     11    46   14    17
40375     11    44    2    18
40376     11    45    8     5
40377     11    46   18    16

[40378 rows x 4 columns]

### Q8.8: Data summary

Print the number of bike usage in the first and last day of November.

In [7]:
# Write your code here

The public bikes were used for  2432  times in the first day of November
The public bikes were used for  1465  times in the last day of November

### Q8.9: Row filtering 

Extract the rows where the `tripduration` is larger than 10000 as `long_trip`

In [8]:
# Write your code here

       tripduration               starttime                stoptime  \
485           26518 2018-11-02 10:20:15.751 2018-11-02 17:42:14.381
1744          13881 2018-11-26 09:02:56.229 2018-11-26 12:54:17.651
1749          60888 2018-11-16 19:14:26.421 2018-11-17 12:09:15.057
1779          23510 2018-11-30 12:35:33.828 2018-11-30 19:07:24.378
3543         503902 2018-11-11 18:55:21.536 2018-11-17 14:53:44.103
4103          22265 2018-11-05 08:01:49.945 2018-11-05 14:12:54.969
4416          14662 2018-11-01 10:33:51.011 2018-11-01 14:38:13.864
5594          11893 2018-11-02 03:09:25.839 2018-11-02 06:27:39.535
5768          17902 2018-11-04 06:33:00.019 2018-11-04 11:31:22.538
5899          14965 2018-11-23 17:19:59.567 2018-11-23 21:29:24.869
5909          49404 2018-11-06 19:14:59.398 2018-11-07 08:58:23.491
5958          86878 2018-11-10 15:39:37.758 2018-11-11 15:47:35.770
6394          39339 2018-11-22 11:57:04.829 2018-11-22 22:52:44.499
6993          30348 2018-11-05 12:16:39.370 2018-11-05 20:42:27.879
7368          12555 2018-11-26 15:05:26.080 2018-11-26 18:34:42.022
8130          12360 2018-11-29 14:13:29.217 2018-11-29 17:39:29.352
8826          47246 2018-11-07 18:21:57.329 2018-11-08 07:29:23.885
9662          50337 2018-11-07 18:49:57.596 2018-11-08 08:48:54.647
10647         49743 2018-11-11 18:57:03.866 2018-11-12 08:46:07.069
10725        226426 2018-11-03 18:45:08.303 2018-11-06 08:38:54.742
10859         14016 2018-11-17 13:20:16.181 2018-11-17 17:13:52.851
11704         16436 2018-11-07 10:10:45.320 2018-11-07 14:44:41.321
12629         11521 2018-11-21 14:22:29.858 2018-11-21 17:34:30.947
14091         14220 2018-11-06 09:09:30.537 2018-11-06 13:06:31.459
14552         19584 2018-11-24 09:26:57.823 2018-11-24 14:53:22.195
14557         98244 2018-11-21 17:35:53.641 2018-11-22 20:53:18.517
14751         30170 2018-11-04 15:26:49.627 2018-11-04 23:49:39.932
15937        247992 2018-11-03 18:48:19.963 2018-11-06 14:41:32.595
20339        474949 2018-11-28 18:08:25.456 2018-12-04 06:04:15.337
20937         18568 2018-11-10 11:43:51.240 2018-11-10 16:53:19.961
...             ...                     ...                     ...
23211        147828 2018-11-12 20:50:06.731 2018-11-14 13:53:54.791
23261        148142 2018-11-03 00:48:07.012 2018-11-04 16:57:09.527
23301         15559 2018-11-03 08:43:40.653 2018-11-03 13:02:59.966
26292         11524 2018-11-01 11:40:55.461 2018-11-01 14:52:59.758
26343         56349 2018-11-02 19:42:25.328 2018-11-03 11:21:35.029
26438         12572 2018-11-07 11:19:53.678 2018-11-07 14:49:25.734
27521         12270 2018-11-18 10:11:14.635 2018-11-18 13:35:45.607
27593         39574 2018-11-20 13:27:36.139 2018-11-21 00:27:10.278
27689         12829 2018-11-21 21:25:11.450 2018-11-22 00:59:00.556
28079         54966 2018-11-11 00:39:08.037 2018-11-11 15:55:14.449
28975        187787 2018-11-15 07:19:42.419 2018-11-17 11:29:30.062
29550         10942 2018-11-04 16:27:38.164 2018-11-04 19:30:01.160
29683         43331 2018-11-08 08:22:10.268 2018-11-08 20:24:21.973
29828         56731 2018-11-29 19:47:36.250 2018-11-30 11:33:07.514
30866         11049 2018-11-29 14:04:01.895 2018-11-29 17:08:10.981
31260         99060 2018-11-15 07:10:47.158 2018-11-16 10:41:47.199
31706        401075 2018-11-28 23:56:12.966 2018-12-03 15:20:48.666
32235         34150 2018-11-03 15:46:54.599 2018-11-04 01:16:05.398
34320         29369 2018-11-11 13:42:55.415 2018-11-11 21:52:25.033
35359         10565 2018-11-29 18:35:36.610 2018-11-29 21:31:41.725
35772         13173 2018-11-02 13:46:25.390 2018-11-02 17:25:58.584
36038         44689 2018-11-28 19:49:19.676 2018-11-29 08:14:09.287
36164         12818 2018-11-03 14:02:59.631 2018-11-03 17:36:38.397
36888         25977 2018-11-03 02:40:56.150 2018-11-03 09:53:54.066
37213         11686 2018-11-01 11:33:31.121 2018-11-01 14:48:17.845
37673        862065 2018-11-05 22:25:31.415 2018-11-15 21:53:17.177
38723         11629 2018-11-17 11:02:25.464 2018-11-17 14:16:15.088
38942         32345 2018-11-29 08:37:52.800 2018-11-29 17:36:58.347
40022         86592 2018-11-04 11:54:34.676 2018-11-05 11:57:46.928
40326         10897 2018-11-18 19:00:30.664 2018-11-18 22:02:08.447

       startstationid                    startstationname  \
485             267.0                  Broadway & W 36 St
1744           3285.0             W 87 St & Amsterdam Ave
1749            486.0                  Broadway & W 29 St
1779            536.0                     1 Ave & E 30 St
3543            385.0                     E 55 St & 2 Ave
4103           3429.0              Hanson Pl & Ashland Pl
4416            313.0           Washington Ave & Park Ave
5594            349.0             Rivington St & Ridge St
5768            388.0                    W 26 St & 10 Ave
5899            239.0            Willoughby St & Fleet St
5909           3534.0  Frederick Douglass Blvd & W 117 St
5958            315.0            South St & Gouverneur Ln
6394            466.0                     W 25 St & 6 Ave
6993            285.0                  Broadway & E 14 St
7368            363.0                      West Thames St
8130           3409.0                Bergen St & Smith St
8826           3347.0           Van Brunt St & Wolcott St
9662            387.0             Centre St & Chambers St
10647          3571.0             Bedford Ave & Bergen St
10725           223.0                     W 13 St & 7 Ave
10859          2010.0                Grand St & Greene St
11704           545.0                     E 23 St & 1 Ave
12629          3646.0                      35 Ave & 10 St
14091           403.0                      E 2 St & 2 Ave
14552          3169.0              Riverside Dr & W 82 St
14557          3467.0          W Broadway & Spring Street
14751           481.0                S 3 St & Bedford Ave
15937          3604.0            Rogers Ave & Sterling St
20339           321.0       Cadman Plaza E & Red Cross Pl
20937          3538.0            W 110 St & Amsterdam Ave
...               ...                                 ...
23211           265.0            Stanton St & Chrystie St
23261           380.0                    W 4 St & 7 Ave S
23301           458.0                    11 Ave & W 27 St
26292           173.0                  Broadway & W 49 St
26343          3521.0                Lenox Ave & W 111 St
26438          2006.0              Central Park S & 6 Ave
27521          3427.0            Lafayette St & Jersey St
27593          3226.0         W 82 St & Central Park West
27689           492.0                     W 33 St & 7 Ave
28079           438.0                 St Marks Pl & 1 Ave
28975          3241.0            Monroe St & Tompkins Ave
29550          3063.0           Nostrand Ave & Myrtle Ave
29683          3392.0          Commerce St & Van Brunt St
29828           380.0                    W 4 St & 7 Ave S
30866          3143.0                     5 Ave & E 78 St
31260          3108.0             Nassau Ave & Russell St
31706          2023.0             E 55 St & Lexington Ave
32235           265.0            Stanton St & Chrystie St
34320           501.0                 FDR Drive & E 35 St
35359           297.0                     E 15 St & 3 Ave
35772           321.0       Cadman Plaza E & Red Cross Pl
36038          3163.0         Central Park West & W 68 St
36164           531.0              Forsyth St & Broome St
36888           302.0                   Avenue D & E 3 St
37213          3659.0                     W 17 St & 9 Ave
37673          3052.0              Lewis Ave & Madison St
38723          3693.0                  N 11 St & Kent Ave
38942           362.0                  Broadway & W 37 St
40022          3050.0             Putnam Ave & Throop Ave
40326           499.0                  Broadway & W 60 St

       startstationlatitude  startstationlongitude  endstationid  \
485               40.750977             -73.987656        3320.0
1744              40.788391             -73.974701        3139.0
1749              40.746201             -73.988556         297.0
1779              40.741444             -73.975357         517.0
3543              40.757973             -73.966034        3498.0
4103              40.685066             -73.977905        3440.0
4416              40.696102             -73.967514         313.0
5594              40.718502             -73.983299        3245.0
5768              40.749718             -74.002953        3472.0
5899              40.691967             -73.981300        3232.0
5909              40.805161             -73.954689        3629.0
5958              40.703552             -74.006699        3489.0
6394              40.743954             -73.991447        3255.0
6993              40.734547             -73.990738         243.0
7368              40.708347             -74.017136         427.0
8130              40.686745             -73.990631        3409.0
8826              40.677341             -74.012749        3409.0
9662              40.712734             -74.004608         368.0
10647             40.676369             -73.952919        3053.0
10725             40.737816             -73.999947         336.0
10859             40.721653             -74.002350        3686.0
11704             40.736504             -73.978096        3687.0
12629             40.763153             -73.939857        3666.0
14091             40.725029             -73.990700         268.0
14552             40.787209             -73.981277         355.0
14557             40.724945             -74.001656         314.0
14751             40.712605             -73.962646        3055.0
15937             40.663063             -73.953873        3245.0
20339             40.699917             -73.989716        3432.0
20937             40.802692             -73.962952        3531.0
...                     ...                    ...           ...
23211             40.722294             -73.991478         229.0
23261             40.734013             -74.002937         494.0
23301             40.751396             -74.005226         458.0
26292             40.760685             -73.984528         127.0
26343             40.798786             -73.952301        3508.0
26438             40.765911             -73.976341        2006.0
27521             40.724304             -73.996010         252.0
27593             40.782749             -73.971367        3355.0
27689             40.750198             -73.990929         349.0
28079             40.727791             -73.985649        2010.0
28975             40.686203             -73.944695        3486.0
29550             40.695271             -73.952377        3063.0
29683             40.681213             -74.008606        3392.0
29828             40.734013             -74.002937         498.0
30866             40.776321             -73.964272        3168.0
31260             40.725571             -73.944344        3083.0
31706             40.759682             -73.970314         476.0
32235             40.722294             -73.991478         331.0
34320             40.744221             -73.971214        3141.0
35359             40.734234             -73.986923         492.0
35772             40.699917             -73.989716        3300.0
36038             40.773407             -73.977829        3343.0
36164             40.718941             -73.992661         361.0
36888             40.720829             -73.977928         411.0
37213             40.742950             -74.004135         519.0
37673             40.686314             -73.935776        3245.0
38723             40.722481             -73.959221        3611.0
38942             40.751728             -73.987534        3255.0
40022             40.685154             -73.941109         289.0
40326             40.769154             -73.981918         458.0

                            endstationname  endstationlatitude  ...   bikeid  \
485           Central Park West & W 100 St           40.794067  ...    17650
1744                    E 72 St & Park Ave           40.771183  ...    30448
1749                       E 15 St & 3 Ave           40.734234  ...    26058
1779                 Pershing Square South           40.751579  ...    33433
3543               Pleasant Ave & E 120 St           40.797478  ...    34154
4103                  Fulton St & Adams St           40.692417  ...    17243
4416             Washington Ave & Park Ave           40.696102  ...    31441
5594                NYCBS DEPOT - DELANCEY           40.716446  ...    24923
5768                      W 15 St & 10 Ave           40.742752  ...    34357
5899                   Bond St & Fulton St           40.689621  ...    26387
5909   Adam Clayton Powell Blvd & W 126 St           40.809494  ...    35284
5958                Gold St & Frankfort St           40.710701  ...    20300
6394                       8 Ave & W 31 St           40.750584  ...    35231
6993               Fulton St & Rockwell Pl           40.688225  ...    25055
7368                   Bus Slip & State St           40.701908  ...    31386
8130                  Bergen St & Smith St           40.686745  ...    33762
8826                  Bergen St & Smith St           40.686745  ...    30191
9662                    Carmine St & 6 Ave           40.730385  ...    17210
10647            Marcy Ave & Lafayette Ave           40.690083  ...    33068
10725          Sullivan St & Washington Sq           40.730476  ...    31616
10859            Gansevoort St & Hudson St           40.739449  ...    14829
11704                      E 33 St & 1 Ave           40.743225  ...    15226
12629                       32 St & 30 Ave           40.766426  ...    32476
14091                Howard St & Centre St           40.719105  ...    19819
14552                Bayard St & Baxter St           40.716022  ...    27699
14557      Cadman Plaza West & Montague St           40.693829  ...    27446
14751            Greene Ave & Nostrand Ave           40.688335  ...    31419
15937               NYCBS DEPOT - DELANCEY           40.716446  ...    35032
20339                    NYCBS Depot - GOW           40.669060  ...    29984
20937   Frederick Douglass Blvd & W 129 St           40.812550  ...    26733
...                                    ...                 ...  ...      ...
23211                       Great Jones St           40.727436  ...    21473
23261                      W 26 St & 8 Ave           40.747349  ...    14591
23301                     11 Ave & W 27 St           40.751396  ...    20953
26292                Barrow St & Hudson St           40.731724  ...    17231
26343      St Nicholas Ave & Manhattan Ave           40.809727  ...    14778
26438               Central Park S & 6 Ave           40.765911  ...    21137
27521         MacDougal St & Washington Sq           40.732265  ...    15442
27593                E 66 St & Madison Ave           40.768009  ...    32388
27689              Rivington St & Ridge St           40.718502  ...    30473
28079                 Grand St & Greene St           40.721653  ...    25564
28975            Schermerhorn St & Bond St           40.688416  ...    34241
29550            Nostrand Ave & Myrtle Ave           40.695271  ...    31615
29683           Commerce St & Van Brunt St           40.681213  ...    31263
29828                   Broadway & W 32 St           40.748550  ...    34321
30866          Central Park West & W 85 St           40.784725  ...    15330
31260             Bushwick Ave & Powers St           40.712475  ...    34120
31706                      E 31 St & 3 Ave           40.743942  ...    26983
32235                  Pike St & Monroe St           40.711731  ...    20238
34320                      1 Ave & E 68 St           40.765007  ...    15342
35359                      W 33 St & 7 Ave           40.750198  ...    32699
35772            Prospect Park West & 8 St           40.665146  ...    34215
36038              W 107 St & Columbus Ave           40.799755  ...    26378
36164                 Allen St & Hester St           40.716057  ...    26608
36888                    E 6 St & Avenue D           40.722282  ...    27248
37213                Pershing Square North           40.751873  ...    21549
37673               NYCBS DEPOT - DELANCEY           40.716446  ...    33123
38723                  Vernon Blvd & 47 Rd           40.744907  ...    27864
38942                      8 Ave & W 31 St           40.750584  ...    18332
40022              Monroe St & Classon Ave           40.684566  ...    21095
40326                     11 Ave & W 27 St           40.751396  ...    18948

         usertype birthyear  gender    random  insample  Month  Week  Day  \
485    Subscriber      1973       1  0.000397         1     11    44    2
1744   Subscriber      1973       1  0.001389         1     11    48   26
1749   Subscriber      1984       1  0.001392         1     11    46   16
1779     Customer      1965       1  0.001413         1     11    48   30
3543   Subscriber      1969       1  0.002861         1     11    45   11
4103   Subscriber      1984       1  0.003321         1     11    45    5
4416   Subscriber      1957       1  0.003532         1     11    44    1
5594     Customer      1969       0  0.004452         1     11    44    2
5768   Subscriber      1982       2  0.004585         1     11    44    4
5899     Customer      1990       1  0.004686         1     11    47   23
5909     Customer      1988       2  0.004692         1     11    45    6
5958     Customer      1969       0  0.004733         1     11    45   10
6394   Subscriber      1978       1  0.005070         1     11    47   22
6993     Customer      1992       1  0.005547         1     11    45    5
7368   Subscriber      1983       1  0.005844         1     11    48   26
8130     Customer      1967       1  0.006477         1     11    48   29
8826     Customer      1969       0  0.006995         1     11    45    7
9662   Subscriber      1990       1  0.007632         1     11    45    7
10647  Subscriber      1989       1  0.008373         1     11    45   11
10725    Customer      1992       1  0.008436         1     11    44    3
10859    Customer      1994       2  0.008536         1     11    46   17
11704  Subscriber      1998       1  0.009170         1     11    45    7
12629    Customer      1984       1  0.009916         1     11    47   21
14091  Subscriber      1988       2  0.011067         1     11    45    6
14552  Subscriber      1986       1  0.011434         1     11    47   24
14557    Customer      1997       1  0.011437         1     11    47   21
14751    Customer      1969       0  0.011595         1     11    44    4
15937    Customer      1990       0  0.012546         1     11    44    3
20339  Subscriber      1971       1  0.015970         1     11    48   28
20937    Customer      1969       0  0.016431         1     11    45   10
...           ...       ...     ...       ...       ...    ...   ...  ...
23211  Subscriber      1995       1  0.018221         1     11    46   12
23261  Subscriber      1994       1  0.018264         1     11    44    3
23301    Customer      1973       1  0.018291         1     11    44    3
26292    Customer      1969       0  0.020691         1     11    44    1
26343  Subscriber      1964       2  0.020725         1     11    44    2
26438    Customer      1985       0  0.020810         1     11    45    7
27521    Customer      1969       0  0.021707         1     11    46   18
27593    Customer      1975       2  0.021757         1     11    47   20
27689    Customer      1989       1  0.021834         1     11    47   21
28079  Subscriber      1993       1  0.022156         1     11    45   11
28975    Customer      1969       0  0.022900         1     11    46   15
29550    Customer      1969       0  0.023369         1     11    44    4
29683  Subscriber      1988       1  0.023466         1     11    45    8

### Q8.10:  Sort dataframe

Select top 50 most popular stations (including both start station and end station)

In [9]:
# Filter stations

519.0     678.0
435.0     576.0
497.0     560.0
402.0     533.0
285.0     490.0
490.0     482.0
499.0     461.0
3255.0    448.0
477.0     422.0
459.0     419.0
491.0     415.0
293.0     412.0
445.0     401.0
3660.0    400.0
468.0     399.0
229.0     396.0
359.0     394.0
382.0     382.0
379.0     379.0
3435.0    374.0
3164.0    373.0
3641.0    367.0
281.0     363.0
523.0     358.0
151.0     358.0
3263.0    353.0
505.0     351.0
368.0     350.0
358.0     340.0
3711.0    334.0
3687.0    331.0
426.0     330.0
517.0     328.0
465.0     327.0
486.0     315.0
127.0     312.0
442.0     308.0
168.0     304.0
446.0     298.0
173.0     297.0
509.0     295.0
3427.0    295.0
466.0     294.0
504.0     293.0
483.0     292.0
507.0     291.0
514.0     286.0
545.0     284.0
479.0     281.0
472.0     277.0
dtype: float64

### Q8.11:  Identify business problem
For a bike share system, one of the issue is to make sure that there are bikes available at stations where people want to pick them up. 

If station $A$ starts the day with lots of bikes, but people take them out to other stations and nobody returns any bikes to $A$, then it will run out of bikes, and that's the thing we don't want. 

Your task is to think about the transition of bikes between stations and locate which stations would be more likely to suffer bike __outage__ or __overage__:

* locate top 5 stations which are most likely to suffer daily bike outage (if any).

* locate top 5 stations which are most likely to have daily bike overage (if any).

In [10]:
# Find outage stations and list your result

3159.0   -37.0
358.0    -36.0
517.0    -30.0
307.0    -29.0
403.0    -29.0
dtype: float64

In [11]:
# Find overage stations and list your result

324.0    58.0
491.0    39.0
466.0    36.0
497.0    34.0
503.0    33.0
dtype: float64

## THIS IS THE END OF THE EXERCISE

--------------